<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="org.minha.nota.servico" version="0.0.1">
	<name>BackgroundServicePlugin</name>
	<description>servico minha nota</description>
	<license>Apache 2.0</license>
	<keywords>cordova,servico</keywords>
	<repo></repo>
	<issue></issue>
	<js-module src="www/js/myService-3.1.0.js" name="BackgroundServicePlugin">
		<clobbers target="BackgroundServicePlugin" />
	</js-module>
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BackgroundServicePlugin">
				<param name="android-package" value="com.red_folder.phonegap.plugin.backgroundservice.BackgroundServicePlugin"/>
			</feature>
		</config-file>
		<source-file src="src/MyService.java" target-dir="src/com/escola/EducaOnline" />
	</platform>
</plugin>